<header>
    <h1>Affordable dj equipment</h1>
</header>

<section id="Bootstrap_carousel">
    
    <div class="container">
        
        <div class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <% @products.each do |product| %>
                <div class="item<%= " active" if product == @products.first %>">
                    <% if product.image_url %>
                        <%= image_tag(product.image_url, class: "img-responsive")%>
                    <% end %>
                    <div class="carousel-caption">
                        <h3><%= product.name %></h3>
                    </div>
                </div>
                <% end %>
            </div>
            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div><!-- ./ carousel -->              
    </div><!-- ./ container -->
</section><!-- ./ Bootstrap_carousel -->

<section id="featured_product">  
    <div class="container">
        <h1>Featured Product:</h1>
            <div class="box">
                <%= image_tag@featured_product.image_url %>
                <h3><%= @featured_product.name %></h3>
                <%= @featured_product.description %>
            </div><!-- ./ box -->
    </div><!-- ./  container -->
</section><!-- ./ featured_product --> 