
<% @products.each do |product| %> 
<div class="product-item col-lg-3 col-md-4 col-xs-12">        
    <%= link_to image_tag(product.image_url, class: "img-responsive product-images"), product %>
    <div class="product-info">
        <a href="#"><h2 class="product-name-title"><%= product.name %></h2></a>
        <p><%= product.description %></p>
        <p><%= product.colour %></p>
        <strong>£ 42</strong>
        <%# <strong><%= number_to_currency product.price, unit: '£', precision: 2 %>
    </div><br >
    
    <div class="admin-links">
        <ul class="links-to-pages">
            <li><%= link_to 'Show', product_path(product), class: 'btn btn-default' %></li>
            <li><%= link_to 'Edit', edit_product_path(product), class: 'btn btn-default' %></li>
            <li> <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default' %></li>
        </ul><!-- ./ links to pages -->
    <hr>
    </div><!-- ./ admin-links -->   
</div><!-- ./col -->
<% end %>
    

<%# <% logger.debug "HERE I AM Product: #{product.name}"%>
    




