<div class="container" id="product_show">
    <div class="row" data-product-id="<%= @product.id %>">
        <div class="col-md-6 col-xs-12">
            <div>
                <%= image_tag(@product.image_url, 
                id: "zoom_product_showpage", 
                class: "img-responsive product_show_image img_zoom", 
                alt: @product.image_url) %>
            </div>
        </div><!-- ./ col -->

        <div class="col-md-6 col-xs-12">
            <div class="product-info-box">
                <% cache @product do %> <!--to cache a product -->
                    <p class="product-info-text">
                    <strong><%= @product.name %></strong></p>
                    <p class="product-info-text">
                    <%= @product.description %>, 
                    <%= @product.colour %>
                    </p>
                <% end %> <!-- end of caching a product -->
            </div><!-- ./ product info box -->

            <br>

            <p class="product-info-text price-text">
                <strong>Price: </strong>
                <%= number_to_currency(@product.price, unit: '£', precision: 2) %>
            </p><!-- ./ product-info-text price-text -->

            <br>
            
            <%# stripe checkout %> 
            <div class="product-info-text">
                <%= form_tag "/payments/create"  do %>
                    <%= render partial: "partials/stripe_checkout_button" %>
                    <%= hidden_field_tag(:product_id, @product.id) %>
                <% end %>
            </div><!-- ./ product info text -->


            <p>
                <strong>Average Rating:</strong>
                <div class="rated" id="average-rating" data-score="<%= @product.average_rating %>"></div>  
            </p>

            <br >

        </div><!-- ./ col -->

        <div class="admin-links">
            <ul class="links-to-pages">
                <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %>
                <%= link_to 'Back', products_path, class: 'btn btn-default' %>
            </ul><!-- ./ links to pages -->
        </div><!-- ./ admin-links -->

        <%# _new_comment.html.erb %>
        <%= render 'new_comment' %>

        <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

        <%# _comments.html.erb %>
        <%= render 'comments' %>

        <%= will_paginate @comments %>

        <p id="notice"><%= notice %></p>
        <!-- shows a single product’s details -->
        
    </div><!-- ./ row -->
</div><!-- ./ container -->