<h1 class="show_product_title">Show product</h1><!-- show product from model -->

<div class="container" id="product_show">
    <div class="row">
        <p id="notice"><%= notice %></p>
        <!-- shows a single product’s details -->
        <p>
        <strong>Name:</strong>
        <%= @product.name %>
        </p>

        <p>
        <strong>Description:</strong>
        <%= @product.description %>
        </p>

        <p>
        <strong>Image url:</strong>
        <%= @product.image_url %>
        </p>

        <p>
        <strong>Colour:</strong>
        <%= @product.colour %> 
        </p>
    </div><!-- ./ row -->
</div><!-- ./ container -->

<div class="row" id="edit_back_button">
    <%= link_to 'Edit', edit_product_path(@product), class: 'btn btn-default' %> 
    <%= link_to 'Back', products_path, class: 'btn btn-default' %>     
</div>


