<!DOCTYPE html>
<html lang="en">
	<head>
		<title>DjGear</title>
        <!-- bootstrap -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	    
	    <!-- bootstrap and javascript -->
	    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	    <!-- responsive site -->
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <%= csrf_meta_tags %>
        
        <!-- font -->
	    <link href="https://fonts.googleapis.com/css?family=Mina" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
	</head>

	<body>
		<header>
			<div class="container">				
			</div><!-- ./  container -->
		</header>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button><!-- /. navbar toggle -->
			<%= link_to "DJGEAR", root_path, class: "navbar-brand" %>
			</div><!-- /. nav header -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

				<%= form_with(url: products_path, method: 'get', local: true,class: 'navbar-form navbar-right') do |form| %>
					<%= form.text_field :q, id: 'q', value: params[:q], placeholder: " what are you looking for?", class: "form-control" %>	
					<%= button_tag(class: 'btn btn-default search-btn') do %>
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <% end %>
				<% end %>

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<li><%= link_to "products", products_path, role: "button" %></li>
						<li><%= link_to "About", about_about_path, role: "button" %></li>
						<li><%= link_to "Contact us", contact_contact_path, role: "button" %></li>
						
						<li>
							<% if user_signed_in? %>
								<li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
							<% else %>
								<%= link_to('Login', new_user_session_path) %>
							<% end %>
						</li>
					</li><!-- /. dropdown -->

				</ul><!-- /. ul nav right -->
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav><!-- /. nav -->

		<div class="page-wrap">
			<%= yield %>
		</div>

	
		<footer id="footer">
	        <div class="container">

				<%# This block will display a welcome message when you sign in. %>
				<% if notice %>
					<p id="notice" class="alert alert-info"><%= notice %></p>
       			<% end %>
				
				<% if alert %>
					<p id="alert" class="alert"><%= alert %></p> 
				<% end %>		

				<p class="footer-text"> &copy; 2018 Dj GEAR | All rights reversed.</p>
			</div><!-- ./ container -->
        </footer>
		
	</body>
</html>